body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Header Styling  */
header{
    background-color: #373e98;
    /* background-color: #726DA8; */
    color: white;
    min-height: 80px;
    border-bottom: 5px solid #ceb92c;
    /* border-bottom: 5px solid #b8336a; */
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

header ul{
    list-style-type: none;
}

header li{
    display: inline;
    padding: 20px;
    font-weight: bold;
}

header li a{
    color: white;
    text-decoration: none;
}

header li a:hover{
    color: #ceb92c;
    /* color: #b8336a; */
    cursor: pointer;
}

#branding a{
    text-decoration: none;
    color: white;
}

#branding .logo{
    font-size: 36px;
    font-weight: bold;
    /* color: #b8336a; */
    color: white;
    margin-left: 40px;
}

/* Hero Styling */
#hero{
    background: linear-gradient(to bottom, #7D8CC4,#C490D1 );
    min-height: 350px;
    text-align: center;
}

.hero-container{
    padding: 30px 50px;
}

.hero-container h1{
    color: #ffffff;
    font-size: 50px;
}

.hero-container p{
    color: white;
}

/* Subscribe section styling */

#newsletter{
    background-color: #373e98;
}

.newsletter-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsletter-container h2{
    color: #FFFFFF;
}

.newsletter-container label{
    color: white;
}

.newsletter-container .email-input{
    outline: none;
}

/* Input Buttons Styling */
input[type=submit]{
    background-color: #726DA8;
    border: none;
    color: #ffffff;
    padding: 5px 20px;
    border-radius: 5px;
}

input[type=submit]:hover{
    background-color: #A0D2DB;
    color: white;
    cursor: pointer;
}

/* Image boxes styling */
#image-boxes{
    padding-top: 24px;
}

.image-boxes-container{
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.image-boxes-container .box{
    text-align: center;
    padding: 12px;
}

.box img{
    width: 20%;
}

/* Footer styling */
footer{
    background-color: #373e98;
    text-align: center;
    color: white;
    padding: 15px;
}

/* About section styling */
#about-section{
    padding: 12px 0 12px 0;
}

.about-section-container{
    display: flex;
    justify-content: space-around;
}

.main-content{
    width: 60%;
}

.aside-content{
    width: 30%;
}

.about-background{
    background-color: #7D8CC4;
    padding: 12px;
    color: white;
}

/* Service styling */

#service-section{

}

.service-section-container{
    display: flex;
    justify-content: space-around;
}

.service-content{
    width: 60%;
}

.aside-form{
    width: 30%;
    height: 360px;
    background-color: #7D8CC4;
    margin-top: 20px;
    padding: 20px;

}

.aside-form form{
    margin-bottom: 20px;
}

.service-box{
    /* border: 1px solid black; */
    box-shadow: 2px 2px 5px #ccc;
    background-color: #C490D1;
    margin-bottom: 12px;
    padding: 12px;
}

.aside-form .input-group{
    margin-bottom: 8px;
}

.input-group > .input{
    outline: none;
}

@media (max-width: 768px) {

    header li{
        padding: 0;
        margin-left: 12px;
        margin-right: 6px;
    }

    .newsletter-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .image-boxes-container{
        display: flex;
        flex-direction: column;   
    }

    .about-section-container{
        display: flex;
        flex-direction: column;
    }

    .main-content{
        width: 100%;
        margin: 0 20px;
       
    }

    .aside-content{
        width: 100%;
        margin: 0 auto;
    }

    .service-section-container{
        display: flex;
        flex-direction: column;
    }

    .service-content{
        width: 100%;
    }

    .aside-form{
        width: 100%;
        margin-top: 0px;
    
    }

}

